@import 'strateji-ui/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: Arial, Helvetica, sans-serif;
}



@layer base {
  :root {
    --background: 0 0% 100%; /* Beyaz arkaplan */
    --foreground: 240 10% 3.9%; /* Koyu gri metin */
    --card: 0 0% 100%; /* Beyaz kart arkaplanı */
    --card-foreground: 240 10% 3.9%; /* Koyu gri kart metni */
    --popover: 0 0% 100%; /* Beyaz popup arkaplanı */
    --popover-foreground: 240 10% 3.9%; /* Koyu gri popup metni */
    --primary: 224 69.5% 25.7%; /* Lacivert ana renk */
    --primary-foreground: 210 40% 98%; /* Açık gri ana metin */
    --secondary: 223 81.3% 66.5%; /* Mavi ikincil renk */
    --secondary-foreground: 240 5.9% 10%; /* Koyu gri ikincil metin */
    --muted: 240 4.8% 95.9%; /* Soluk gri arkaplan */
    --muted-foreground: 240 3.8% 46.1%; /* Orta gri soluk metin */
    --accent: 223 100% 82%; /* Açık mavi vurgu rengi */
    --accent-foreground: 240 5.9% 10%; /* Koyu gri vurgu metni */
    --light-accent: 240 98.4% 75.5%; /* Açık mavi vurgu rengi */
    --light-accent-foreground: 240 5.9% 10%; /* Koyu gri vurgu metni */
    --destructive: 0 84.2% 60.2%; /* Kırmızı uyarı rengi */
    --destructive-foreground: 0 0% 98%; /* Beyaz uyarı metni */
    --border: 240 5.9% 90%; /* Açık gri kenarlık */
    --input: 240 5.9% 90%; /* Açık gri input arkaplanı */
    --ring: 240 10% 3.9%; /* Koyu gri odaklanma halkası */
    --chart-1: 12 76% 61%; /* Turuncu grafik rengi */
    --chart-2: 173 58% 39%; /* Turkuaz grafik rengi */
    --chart-3: 197 37% 24%; /* Lacivert grafik rengi */
    --chart-4: 43 74% 66%; /* Sarı grafik rengi */
    --chart-5: 27 87% 67%; /* Turuncu grafik rengi */
    --radius: 0.5rem; /* Köşe yuvarlaklığı */
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
